<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>
		<!-- Для Entity Framework -->
		<add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ManagementCompany.mssql.somee.com;initial catalog=ManagementCompany;user id=Dorogan_SQLLogin_1;password=x4c9e1mit9;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

		<!-- Для прямого доступа через SqlClient (добавьте эту строку) -->
		<add name="ManagementCompanyDB" connectionString="Data Source=ManagementCompany.mssql.somee.com;Initial Catalog=ManagementCompany;User ID=Dorogan_SQLLogin_1;Password=x4c9e1mit9;TrustServerCertificate=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>